#logo{ 
text-align: center;
padding-top: 180px; 
}

input[type=search] {
-webkit-appearance: textfield;
width: 571px; 
height: 29px; 
font-family: Arial, "Times New Roman";
font-size: 18px;  
} 



li{ 
display: inline;
vertical-align: middle; 
margin-right: 10px; 
font-family: Arial, "Times New Roman", "Sans Serif"; 
font-size: 15px;  
} 

#images_hover:hover{ 
text-decoration: underline; 
} 


#name_hover:hover{ 
text-decoration: underline; 
} 


#email_hover:hover{ 
text-decoration: underline; 
} 

#navbar{ 
float: right; 
font: Arial, "Times New Roman", Calbri;  
}

ul{ 
font: Arial; 
} 

#share{ 
border-radius: 1px;
background-color: #F4F4F4; 
padding: 7px 15px; 
} 

#share:hover{ 
background-color: #C8C2C2; 
}

#blueguy{ 
border-radius: 100%;
}

#spacing{ 
margin-left: -10px; 
} 

a{ 
text-decoration: none; 
color: #666; 
}

#spacea{ 
padding-right: 15px; 
} 

#spacea:hover{ 
text-decoration: underline; 
} 

#spaceb{ 
padding-right: 15px;
} 

#spaceb:hover{ 
text-decoration: underline; 
} 

#spacec{ 
padding-right: 15px; 
} 

#spacec:hover{
text-decoration: underline; 
}

#spaced{
padding-right: 15px; 
}

#spaced:hover{ 
text-decoration: underline; 
}

#spaced:hover{ 
text-decoration: underline; 
}

#spacey:hover{
text-decoration: underline;
}

#spacez:hover{
text-decoration: underline; 
}



#left_footer{ 
float: left; 
} 

#right_footer{ 
float: right; 
padding-right: 15px;
} 

.footer{ 
background: #F2F2F2; 
border-top: 1px solid #E4E4E4;
min-width: 100%; 
bottom: 0; 
position: absolute; 
line-height: 20px; 
color: #666;
margin-bottom: 10px;
}  




input[type=text] {
-webkit-appearance: none; 
} 

input[type=submit] {
text-align: center;
padding-top: 10px; 
display: inline-block;
border: 1px solid #dcdcdc; 
border-color: rgba(0,0,0,0.1); 
color: #444! important; 
font-size: 12px; 
background: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1); 
font-weight: bold; 
padding-bottom: 10px;  
} 



#search_bar{ 
text-align: center; 
padding-top: 25px; 
line-height: 30px; 
size: 100;   
} 

#search_button{ 
display: inline-block;
padding-right: 10px;
}

 

#feeling_lucky{ 
text-align: center; 
padding-top: 10px;
display: inline-block; 
}
